#order_menu[data-v-2a409750] .ivu-menu {
    position: relative;
    width: 1.66666667rem !important;
    height: auto !important;
    background-color: #fff
}

#order_menu[data-v-2a409750] .ivu-menu:before {
    content: "";
    position: absolute;
    top: -.17361111rem;
    left: 0;
    width: 1.66666667rem;
    height: .17361111rem;
    background-color: #333;
    border-top-right-radius: .17361111rem
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group .ivu-menu-item-group-title {
    padding-left: .13888889rem;
    font-size: .09722222rem;
    color: #333;
    font-weight: 600
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group ul .ivu-menu-item {
    padding-left: .13888889rem
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group ul .ivu-menu-item span {
    color: #666
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group ul .ivu-menu-item-active {
    background-color: #ffdede
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group ul .ivu-menu-item-active span {
    color: #fd1d01
}

#order_menu[data-v-2a409750] .ivu-menu .ivu-menu-item-group ul .ivu-menu-item-active:after {
    width: .02777778rem;
    background: #fd1d01
}

.allcover {
    position: absolute;
    top: 0;
    right: 0
}

.center {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.center, .ct {
    position: absolute;
    top: 50%
}

.ct {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.cl {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.focus_air_freight_list {
    padding: 0 .13888889rem
}

.focus_air_freight_list .query_condition {
    background-color: #fff
}

.focus_air_freight_list .query_condition .condition_box1 {
    height: .41666667rem;
    background-color: #666
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container {
    position: relative;
    line-height: .41666667rem;
    text-align: center
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container:before {
    content: "";
    position: absolute;
    top: -.17361111rem;
    left: 0;
    width: 1.38888889rem;
    height: .17361111rem;
    background-color: #272727;
    border-top-right-radius: .16666667rem
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container .ivu-row .ivu-col-span-4 {
    cursor: pointer
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container .ivu-row .ivu-col-span-4 .box1_container_content {
    height: .41666667rem
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container .ivu-row .ivu-col-span-4 .box1_container_content .ivu-icon {
    font-size: .27777778rem;
    color: #fff;
    vertical-align: middle
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container .ivu-row .ivu-col-span-4 .box1_container_content span {
    padding-left: .03472222rem;
    font-size: .09722222rem;
    color: #fff;
    vertical-align: middle
}

.focus_air_freight_list .query_condition .condition_box1 .box1_container .ivu-row .ivu-col-span-4 .selected_bgc {
    background-color: #20407d
}

.focus_air_freight_list .query_condition .condition_box2 {
    margin: .20833333rem auto;
    height: .27777778rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .query_condition .condition_box2 .destination_port, .focus_air_freight_list .query_condition .condition_box2 .port_of_departure {
    width: 1.38888889rem;
    height: .27777778rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .00694444rem solid #ddd;
    background-color: #fbfbfb
}

.focus_air_freight_list .query_condition .condition_box2 .destination_port .departure_text, .focus_air_freight_list .query_condition .condition_box2 .port_of_departure .departure_text {
    padding: .06944444rem .03472222rem
}

.focus_air_freight_list .query_condition .condition_box2 .destination_port .departure_text span, .focus_air_freight_list .query_condition .condition_box2 .port_of_departure .departure_text span {
    display: block;
    padding: 0 .06944444rem;
    font-size: .08333333rem;
    color: #666;
    font-weight: 600;
    border-right: .00972222rem solid #ddd
}

.focus_air_freight_list .query_condition .condition_box2 .destination_port input, .focus_air_freight_list .query_condition .condition_box2 .destination_port select, .focus_air_freight_list .query_condition .condition_box2 .port_of_departure input, .focus_air_freight_list .query_condition .condition_box2 .port_of_departure select {
    padding-left: .03472222rem;
    color: #666;
    background-color: #fbfbfb;
    outline: none;
    width: .69444444rem
}

.focus_air_freight_list .query_condition .condition_box3 {
    border: .00694444rem solid #ddd
}

.focus_air_freight_list .query_condition .condition_box3 .ad_title, .focus_air_freight_list .query_condition .condition_box3 .pt_title {
    width: .83333333rem;
    height: .34027778rem;
    line-height: .34027778rem;
    text-align: center;
    font-size: .09722222rem;
    color: #fff;
    background-color: #666
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up {
    min-height: .34722222rem;
    border-bottom: .00694444rem solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: .34722222rem;
    text-align: center
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company .ac_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: .83333333rem;
    font-size: .09722222rem;
    color: #fff;
    background-color: #666;
    border-bottom: .00694444rem solid #eee
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company .ac_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company .ac_list .ac_item {
    width: 25%;
    padding: .06944444rem .06944444rem;
    background-color: #fff;
    border: .00694444rem solid transparent;
    cursor: pointer;
    text-align: left
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company .ac_list .ac_item span {
    font-size: .09722222rem;
    color: #555;
    font-weight: 600
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .airline_company .ac_list .selected_ac_item {
    padding: .02777778rem .13888889rem;
    background-color: #c9c9c9;
    border: .00694444rem solid #ddd;
    border-radius: .13888889rem
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .ac_more {
    margin-top: .10416667rem;
    width: .69444444rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .ac_more .ivu-btn span {
    padding: .02777778rem .06944444rem;
    font-weight: 700;
    color: red
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .ac_more .ivu-btn:hover {
    border-color: #dcdee2
}

.focus_air_freight_list .query_condition .condition_box3 .box3_up .ac_more .ivu-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.focus_air_freight_list .query_condition .condition_box3 .box3_down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: .34722222rem
}

.focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .ad_content, .focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .pt_content, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .ad_content, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .pt_content {
    padding: 0 .13888889rem 0 .27777778rem
}

.focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .ad_content .ivu-checkbox-group .ivu-checkbox-group-item, .focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .pt_content .ivu-checkbox-group .ivu-checkbox-group-item, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .ad_content .ivu-checkbox-group .ivu-checkbox-group-item, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .pt_content .ivu-checkbox-group .ivu-checkbox-group-item {
    margin-right: .3125rem;
    font-size: .09722222rem;
    color: #555;
    font-weight: 600
}

.focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .ad_content .ivu-checkbox-group .ivu-checkbox-group-item .ivu-radio, .focus_air_freight_list .query_condition .condition_box3 .box3_down .arrive_days .pt_content .ivu-checkbox-group .ivu-checkbox-group-item .ivu-radio, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .ad_content .ivu-checkbox-group .ivu-checkbox-group-item .ivu-radio, .focus_air_freight_list .query_condition .condition_box3 .box3_down .packaging_type .pt_content .ivu-checkbox-group .ivu-checkbox-group-item .ivu-radio {
    margin-right: .06944444rem
}

.focus_air_freight_list .query_condition .condition_box4 {
    margin-top: .17361111rem;
    padding: .13888889rem .06944444rem;
    border-top: .00694444rem dashed #ddd
}

.focus_air_freight_list .query_condition .condition_box4, .focus_air_freight_list .query_condition .condition_box4 .box4_left, .focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_title {
    font-size: .09722222rem;
    margin-right: .22222222rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content {
    font-size: .09722222rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item {
    margin-right: .15277778rem;
    cursor: pointer
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price {
    margin-right: .02083333rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price_btns {
    margin-top: .01388889rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price_btns .high_price, .focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price_btns .low_price {
    border: .04166667rem solid #abaaab;
    border-left-color: transparent;
    border-right-color: transparent
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price_btns .high_price {
    margin-bottom: .00694444rem;
    border-top-color: transparent
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_price .sort_price_btns .low_price {
    margin-top: .00694444rem;
    border-bottom-color: transparent
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_icon span {
    margin-right: .03472222rem;
    vertical-align: middle
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .sort_item_icon .ivu-icon {
    font-size: .125rem;
    color: #ababab;
    vertical-align: middle
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .sort_box .sort_content .sort_list .selected_color {
    color: #ff4f01
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .aircraft_cabin {
    margin-left: .55555556rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_left .aircraft_cabin label {
    font-size: .09722222rem
}

.focus_air_freight_list .query_condition .condition_box4 .box4_right {
    font-size: .08333333rem;
    color: #000
}

.focus_air_freight_list .query_condition .condition_box4 .box4_right span {
    padding: 0 .01388889rem;
    font-size: .09722222rem;
    color: #20407d;
    font-weight: 600
}

.focus_air_freight_list .query_condition .filter_search {
    text-align: center;
    margin: .13888889rem 0
}

.focus_air_freight_list .query_condition .filter_search .ivu-btn {
    padding: 0;
    width: .83333333rem;
    height: .34722222rem;
    line-height: .34722222rem;
    outline: none;
    background-color: #154092;
    text-align: center
}

.focus_air_freight_list .query_condition .filter_search .ivu-btn .ivu-icon, .focus_air_freight_list .query_condition .filter_search .ivu-btn .ss-icon-sousuo1 {
    font-size: .16666667rem;
    color: #fff;
    vertical-align: middle
}

.focus_air_freight_list .query_condition .filter_search .ivu-btn span {
    font-size: .11111111rem;
    color: #fff;
    vertical-align: middle
}

.focus_air_freight_list .mf-s-goods /deep/ .ivu-menu .ivu-menu-item.ivu-menu-item-active {
    color: red;
    border-bottom-color: red
}

.focus_air_freight_list .fruit_page {
    background-color: #fff;
    width: 100%;
    height: 1.25rem;
    line-height: .48611111rem;
    text-align: center
}

.focus_air_freight_list .airlines_offer_box {
    margin-top: .06944444rem;
    width: 100%
}

.focus_air_freight_list .airlines_offer_box .result_header {
    width: 100%;
    height: .34722222rem;
    color: #fff;
    background-color: #fff
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #000
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left .header_left_departure .ivu-icon-md-radio-button-off {
    font-size: .20833333rem;
    color: #ff4f01;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left .header_left_departure span {
    padding-left: .05555556rem;
    font-size: .09722222rem;
    color: #fff;
    font-weight: 600;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left .ivu-icon-md-arrow-round-forward {
    padding: 0 .08333333rem;
    font-size: .16666667rem;
    color: #fff
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left .header_left_destination .ss-icon-zhongdian1 {
    font-size: .20833333rem;
    color: #ff4f01;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_left .header_left_destination span {
    padding-left: .05555556rem;
    font-size: .09722222rem;
    color: #fff;
    font-weight: 600;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_right {
    width: 60%;
    height: 100%
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_right .kg_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_header .result_header_row .result_header_right .kg_list .kg_item {
    width: .59722222rem;
    height: .34722222rem;
    line-height: .34722222rem;
    text-align: center;
    font-size: .09722222rem;
    color: #fff;
    font-weight: 600
}

.focus_air_freight_list .airlines_offer_box .result_content {
    background-color: #fff
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row {
    border: .00694444rem solid #ddd
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .ivu-col-span-10 {
    width: 40%;
    border-right: .00694444rem solid #ddd
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .ivu-col-span-14 {
    width: 60%;
    height: 100%
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left {
    position: relative;
    padding: .20833333rem .06944444rem .13888889rem;
    text-align: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up {
    margin-bottom: .10416667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: .09722222rem;
    color: #333;
    text-align: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_left, .focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_right {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_left p, .focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_right p {
    font-size: .09722222rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_left span, .focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_right span {
    font-size: .09027778rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_middle {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 0 .06944444rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_middle .ivu-icon-md-arrow-round-forward {
    font-size: .13888889rem;
    color: #ff4f01
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_tag {
    position: absolute;
    top: .03472222rem;
    right: .06944444rem;
    width: .27777778rem;
    height: .16666667rem;
    line-height: .16666667rem;
    font-size: .09027778rem;
    color: #fff;
    border-radius: .02777778rem;
    background-color: #ff4f01
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_up .rcl_up_tag:before {
    content: "";
    position: absolute;
    left: -.02777778rem;
    bottom: 0;
    border: .05555556rem solid #ff4f01;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down {
    padding: 0 .06944444rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_left .ivu-icon {
    padding-right: .03472222rem;
    font-size: .13888889rem;
    color: #ff4f01;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_left span {
    font-size: .08333333rem;
    color: #333;
    vertical-align: middle
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_left .rcl_down_company {
    margin-right: .06944444rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_right span {
    font-size: .08333333rem;
    color: #333
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_down .rcl_down_right em {
    font-size: .08333333rem;
    color: #666
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_ext {
    margin-top: .06944444rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_ext .rcl_ext_left {
    float: left;
    color: #ababab
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_left .rcl_ext .rcl_ext_right {
    float: right;
    padding-left: .13888889rem
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right {
    padding: .13888889rem 0
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_price_list {
    padding-bottom: .13888889rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_price_list .rcr_price_item {
    width: .59722222rem;
    height: .25rem;
    line-height: .25rem;
    font-size: .11111111rem;
    color: #333;
    background-color: #f0eff4;
    text-align: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_btns_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_btns_list .rcr_btns_item {
    width: 1.04166667rem;
    height: .20833333rem;
    font-size: .09722222rem;
    color: #fff;
    line-height: .20833333rem;
    text-align: center
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_btns_list .price_detail_btn {
    background-color: #20407d
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_btns_list .buy_now_btn {
    margin: 0 .10416667rem;
    background-color: #f08300
}

.focus_air_freight_list .airlines_offer_box .result_content .result_content_row .result_content_right .rcr_btns_list .customer_service_btn {
    background-color: #2665b2
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-header .head_title {
    text-align: center
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-header .head_title span {
    font-size: .125rem
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content p {
    font-size: .08333333rem;
    color: #666
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding {
    margin-top: .06944444rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding .ding_list {
    text-align: center;
    cursor: pointer
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding .ding_list .ding_item {
    padding: .01388889rem .13888889rem;
    border: .01041667rem solid #f08300;
    border-radius: .13888889rem
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding .ding_list .ding_item.active {
    background-color: #f08300
}

.dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding .ding_list .ding_item.active p, .dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body .body_content .ding .ding_list .ding_item.active span, .dingyue_modal .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-footer .ivu-btn span {
    color: #fff
}

#my_focus_airline .side_navbar_container .center_nav_box[data-v-6c449e50] {
    height: .41666667rem;
    line-height: .41666667rem;
    background-color: #fbfbfb;
    border-top: .00694444rem solid #ddd
}

#my_focus_airline .side_navbar_container .center_content_box[data-v-6c449e50] {
    padding: .41666667rem 0;
    background-color: #f0eff4
}

#my_focus_airline .side_navbar_container .center_content_box .center_content[data-v-6c449e50] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#my_focus_airline .side_navbar_container .center_content_box .center_content .content_container[data-v-6c449e50] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: .13888889rem;
    min-width: 6.52777778rem;
    background-color: #fff
}