#head_bar .head_bar_box[data-v-4ac9fbeb] {
    padding: 0 .20833333rem;
    height: .27777778rem;
    line-height: .27777778rem;
    background-color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#head_bar .head_bar_box .box_left[data-v-4ac9fbeb] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

#head_bar .head_bar_box .box_left .ivu-icon[data-v-4ac9fbeb],
#head_bar .head_bar_box .box_left span[data-v-4ac9fbeb] {
    color: #fff
}

#head_bar .head_bar_box .box_left span[data-v-4ac9fbeb] {
    padding-left: .03472222rem
}

#head_bar .head_bar_box .box_right[data-v-4ac9fbeb] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#head_bar .head_bar_box .box_right .select_language .ivu-icon-md-globe[data-v-4ac9fbeb] {
    color: #fff;
    vertical-align: middle
}

#head_bar .head_bar_box .box_right .select_language .select_box[data-v-4ac9fbeb] {
    margin: 0 .06944444rem;
    width: .55555556rem;
    vertical-align: middle
}

#head_bar .head_bar_box .box_right span[data-v-4ac9fbeb] {
    font-size: .08333333rem;
    color: #fff
}

#head_bar .head_bar_box .box_right .icon_login_register[data-v-4ac9fbeb] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#head_bar .head_bar_box .box_right .icon_login_register .icon_box[data-v-4ac9fbeb] {
    padding-right: .06944444rem
}

#head_bar .head_bar_box .box_right .icon_login_register .icon_box .ivu-icon-md-contact[data-v-4ac9fbeb] {
    color: #fff
}

#head_bar .head_bar_box .box_right .icon_login_register .login_register_box a[data-v-4ac9fbeb] {
    color: #2d8cf0
}

#head_bar .head_bar_box .box_right .icon_login_register .login_register_box span[data-v-4ac9fbeb] {
    padding: 0 .02083333rem
}

.login[data-v-12d83ef0] {
    width: 100%;
    height: 100vh;
    background-image: url(../../static/img/login-bg.7f30b86c.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative
}

.login-con[data-v-12d83ef0] {
    position: absolute;
    right: 1.11111111rem;
    top: 50%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    width: 2.08333333rem
}

.login-con-header[data-v-12d83ef0] {
    font-size: .11111111rem;
    font-weight: 300;
    text-align: center;
    padding: .20833333rem 0
}

.login-con .form-con[data-v-12d83ef0] {
    padding: .06944444rem 0 0
}

.login-con .login-tip[data-v-12d83ef0] {
    font-size: .06944444rem;
    text-align: center;
    color: #c3c3c3
}

.register_forgetpswd[data-v-12d83ef0] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.register_forgetpswd .register_box span[data-v-12d83ef0] {
    padding-right: .06944444rem
}