
 <!-- 引入尾部组件 -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-3">
                        <h2 class="ftco-heading-2">{$sys.name}</h2>
                        <ul class="list-unstyled">
                            <li><a href="/home/index/index/y/tj" class="py-2 d-block">运价查询</a></li>
                            <li><a href="/home/index/index/y/line" class="py-2 d-block">推荐航班</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-3">
                        <h2 class="ftco-heading-2">空运工具</h2>
                        <ul class="list-unstyled">
                            <li><a href="/home/index/index/y/three" class="py-2 d-block">三字代码查询</a></li>
                            <li><a href="/home/index/index/y/goods" class="py-2 d-block">空运货物查询</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-3">
                        <h2 class="ftco-heading-2">服务支持</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">电话：{$sys.tel}</a></li>
                            <li><a href="#" class="py-2 d-block">QQ：{$sys.qq}</a></li>
                            <li><a href="#" class="py-2 d-block">邮箱：{$sys.email}</a></li>
                        </ul>
                    </div>
                </div>
             
 
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                       {$sys.copyright}
                    </p>
                </div>
            </div>
        </div>
    </footer>
